$color-white: #fff;
$color-black_1: #2C2A2A;
$color-black_2: #000;
$color-brown_1: #8B6552;
$color-brown_2: rgba(119, 86, 70, 0.5); 
$color-brown_3: #201009;

body {
    background-color: $color-black_2;
}